$primaryColor: #00E678;
$secondaryColor: rgba(255, 255, 255, 0.793);
$buttonsColor: red;

// Gradient
$color1: #ffe182 0;
$color2: #ffe279 6.25%;
$color3: #ffe371 12.5%;
$color4: #fbe369 18.75%;
$color5: #e8e262 25%;
$color6: #d4e15c 31.25%;
$color7: #bddf58 37.5%;
$color8: #a3dc56 43.75%;
$color9: #86d855 50%;
$color10: #64d457 56.25%;
$color11: #32d05d 62.5%;
$color12: #00cc65 68.75%;
$color13: #00c870 75%;
$color14: #00c57c 81.25%;
$color15: #00c18a 87.5%;
$color16: #00bf9a 93.75%;
$color17: #00bcaa 100%;
