// Image paths
$urls: (
    indexImage: "../media/joel.jpg",
    contactUsImage: "../media/bulldog-contact.jpg",
    considerationsImage: "../media/bulldog_background.jpg",
    mainImage: "../media/bulldog-jugando.jpg"
);

