<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Página web orientada a perros de raza Bulldogs, Bulls o Spikes donde se podra consultar dudas y ponerse en contacto con veterinarios y especialistas caninos de todo el mundo" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/stylescss.css">
  <link rel="stylesheet" href="../css/bootstrap-photos/bootstrap-photos.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <link rel="icon" type="image/x-icon" href="../media/logo.png">
  <title>♥ Contact us</title>
</head>

<body>

  <!-- ====== TOP NAV BAR ====== -->
  <div class="grid-container">
    <nav id="image" class="grid-nav image-contact-us">
      <div class="main_list">
        <ul class="grid-nav-main navlinks quick-sand-family ">
          <li><a class="li-excluded-logo pulse_efect" href="#"><img class="nav-img" src="../media/logo.png"
                onmouseout="volverNormalidad()" /></a></li>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/bulldogs.html">Bulls</a></li>
          <li><a href="../views/frencies.html">Frenchies</a></li>
          <li><a href="../views/pugs.html">Pugs</a></li>
          <li><a href="../views/contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="centrado">
        <div dir="texto-bienvenida" class="texto-centrado quick-sand-family">
          <b>
            < Welcome to I ♥ Bulldogs /></b>
        </div>
      </div>
    </nav>
  </div>
  <!-- ====== TOP NAV BAR END ====== -->

  <!-- ======= SERVICES ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>NUESTROS SERVICIOS</h2>
        <p>La veterinaria es una ciencia médica que previene, diagnostica y trata las enfermedades de los animales domésticos, silvestres y de producción. Se ocupa también de la inspección y del control sanitario de los alimentos, del mejoramiento de la producción animal y de la prevención de zoonosis.</p>
      </div>
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0 mouseover" data-aos="fade-up">
            <i class='bx bx-plus-medical'></i>
            <h4>Atención Veterinaria</h4>
            <p>Esto es un ejemplo de texto de atencion veterinaria</p>
          </div>
          <div class="icon-box mt-5 mouseover" data-aos="fade-up" data-aos-delay="100">
            <i class='bx bx-food-menu'></i>
            <h4>Nutrición</h4>
            <p>Esto es un ejemplo de texto de Nutrición</p>
          </div>
          <div class="icon-box mt-5 mouseover" data-aos="fade-up" data-aos-delay="200">
            <i class='bx bx-heart'></i>
            <h4>Guardia 24/7</h4>
            <p>Este es un ejemplo de texto de Guardia</p>
          </div>
          <div class="icon-box mt-5 mouseover" data-aos="fade-up" data-aos-delay="300">
            <i class='bx bx-bone'></i>
            <h4>Criadero</h4>
            <p>No, no estoy a favor de los criaderos, pero no se me ocurría otro item</p>
          </div>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2"
          style='background-image: url("../media/bulldog-fullhd/262493-animals-dog-bulldog-english_bulldog-748x420.jpg");'
          data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
  </section><!-- ======= SERVICES ======= -->

  <!-- ======= ABOUT US ======= -->
  <section id="about" class="about-us">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Sobre nosotros...</h2>
        <p>Este es un ejemplo de texto de sobre nosotros</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image about-us-img">
            <img src="../media/bulldog-fullhd/1621343.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="about-us-title pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <h3>Compartimos tu amor por tu mascota, con la mejor atención del mundo.</h3>
            <p class="fst-italic">
              El bulldog francés es fácil de reconocer por sus grandes orejas de murciélago. Se trata de un perro pequeño de cara plana que posee un pelaje corto y brillante atigrado, parcheado o leonado. El bulldog francés alcanza aproximadamente los 27 - 34,5 cm. Los machos adultos pesan 12,5 kg y las hembras adultas 11 kg.
            </p>
            <ul>
              <li><i class='bx bx-bone mouseover '></i> A nivel óseo, algunos de los trastornos más comunes son la displasia de cadera, y la cojera de las patas traseras. La displasia de cadera es un problema congénito que evita que la articulación de la cadera y la cabeza del fémur encajen de manera correcta. Esto implica, como principales síntomas, el dolor al movilizarse y una cojera más o menos importante, dependiendo de la gravedad de la displasia.
              </li>
              <li><i class='bx bx-bone mouseover'></i> Asimismo, los perros de esta raza también tienen especial tendencia a sufrir disfunciones respiratorias, causadas por problemas físicos como  un paladar blando excesivamente largo, y una estenosis (u obstrucción) de las fosas nasales.</li>
              <li><i class='bx bx-bone mouseover'></i> Ambas características son propias del síndrome de las vías respiratorias de los perros braquicéfalos, una enfermedad propia de las razas de perros que tienen la nariz corta y la cara plana, como es el caso del Bulldog Inglés.</li>
              <li><i class='bx bx-bone mouseover'></i>  Asimismo, también merece la pena destacar que estos perros tienen predisposición genética a padecer dos problemas oculares que afectan a los párpados: el entropión y el ectropión.</li>
            </ul>
            <p>
              Finalmente, hay que decir que en el Bulldog Inglés también se dan casos de problemas en la piel, sobretodo dermatitis, y de paladar partido en los cachorros.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- ======= ABOUT US END ======= -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contacto</h2>
        <p style="font-style: italic;">¡ Envíanos un mensaje !</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map mouseover"></i>
                <h3>Dirección</h3>
                <p>Calle falsa 123, Córdoba, Argentina</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email</h3>
                <p>michelcastillolmgp@gmail.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Teléfono</h3>
                <p>+54 9 351 223 0240</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form role="form" class="contact-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre:" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email:" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Nombre de tu mascota" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Déjanos tu duda..." required></textarea>
            </div>
            <div class="my-3">
              <!-- <div class="enviar-form">Enviando...</div> -->
              <div class="error-message"></div>
              <div class="sent-message">El mensaje ha sido enviado, muchas gracias !</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= CONTACT END ======= -->

  <!-- ======= FOOTER ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Síguenos en nuestras redes sociales!</h3>
      <p>Esperamos que hayas disfrutado de tu paseo, por eso te invitamos a seguirnos en nuestras redes sociales !</p>
      <div class="social-links">
        <a href="#" class="twitter mouseover"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook mouseover"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram mouseover"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google mouseover"><i class="bx bxl-google"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>I ♥ Bulldogs</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- ======= FOOTER ======= -->

  <script src="../js/bootstrap.min.js"></script>
</body>

</html>