<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Página web orientada a perros de raza Bulldogs, Bulls o Spikes donde se podra consultar dudas y ponerse en contacto con veterinarios y especialistas caninos de todo el mundo" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/stylescss.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/remixicon/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/icons-custom/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <link rel="icon" type="image/x-icon" href="../media/logo.png">
  <title>♥ Frenchies</title>
</head>

<body>

  <!-- ====== TOP NAV BAR ====== -->
  <div class="grid-container">
    <nav id="image" class="grid-nav image-frenchies">
      <div class="main_list">
        <ul class="grid-nav-main navlinks quick-sand-family">
          <li><a class="li-excluded-logo pulse_efect" href="#"><img class="nav-img" src="../media/logo.png"
                onmouseout="volverNormalidad()" /></a></li>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/bulldogs.html">Bulls</a></li>
          <li><a href="../views/frencies.html">Frenchies</a></li>
          <li><a href="../views/pugs.html">Pugs</a></li>
          <li><a href="../views/contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="centrado">
        <div dir="texto-bienvenida" class="texto-centrado quick-sand-family">
          <b>
            < Welcome to I ♥ Bulldogs /></b>
        </div>
      </div>
    </nav>
  </div> <!-- ====== TOP NAV BAR END ====== -->

  <!-- ======= ABOUT FRENCHIES SECTION ======= -->
  <section id="about-frenchie" class="about-frenchie">
    <div class="container about-frencies-justify" data-aos="fade-up">
      <div class="section-title">
        <h2 class="mouseover">Sabías qué?</h2>
        <p>Una raza con pocas pulgas <i class="bi bi-emoji-smile"></i></p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            El bulldog francés es una raza canina originaria de Francia y establecida como tal a finales del siglo XIX.
            Fueron criados, por primera vez, por encajeras en Inglaterra y luego en Francia cuando se desplazaron por la
            Revolución industrial. No obstante, EE. UU. y Francia han desempeñado importantes papeles en el desarrollo
            de esta raza.
          </p>
          <ul>
            <li><i class="bi bi-caret-right-fill"></i> Tipo moloso, de talla pequeña, pelo corto, musculoso, fuerte y
              compacto.</li>
            <li><i class="bi bi-caret-right-fill"></i> De cola pequeña, gruesa al principio y anudada al final.</li>
            <li><i class="bi bi-caret-right-fill"></i> Otra característica son las "orejas de murciélago". Es la raza
              canina que más pabellón auricular muestra cuando mira al frente.</li>
            <li><i class="bi bi-caret-right-fill"></i> Con fuerza proporcionada a su pequeño tamaño, de pelo corto, con
              las orejas erectas y con la cola naturalmente corta.</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <p>
            Algunas características de su carácter son:
          </p>
          <ul>
            <li><i class="bi bi-caret-right"></i> Aspecto general: Perro pequeño, robusto, compacto y sólido con una
              buena osamenta y una capa corta y lisa. Sin puntos exagerados. El equilibrio es esencial.</li>
            <li><i class="bi bi-caret-right"></i> Características: Moloso típico de pequeño tamaño. Con fuerza
              proporcionada a su pequeño tamaño, de pelo corto, con las orejas erectas y con la cola naturalmente corta.
            </li>
            <li><i class="bi bi-caret-right"></i> Ojos: Preferiblemente oscuros y en concordancia con el color de la
              capa. De tamaño moderado, redondeados y ni hundidos medio saltones.</li>
            <li><i class="bi bi-caret-right"></i> Orejas: Llamadas de murciélago por los ingleses, de tamaño mediano,
              anchas en su base y redondeadas en la punta, de implantación alta y portadas tiesas y paralelas..</li>
            <li><i class="bi bi-caret-right"></i> Extremidades posteriores: Patas traseras fuertes, musculosas y más
              largas que las delanteras, haciendo que el riñón quede más alto que la cruz.</li>
          </ul>
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Es ideal para un piso pequeño; necesita ejercicio durante unos 40 minutos diarios. No es apto para grandes
            caminatas ni para llevarlo a correr, pero es un buen animal de compañía, muy juguetón y defensor del dueño.
            Es un perro familiar, le encanta estar en casa en compañía de sus dueños, es muy flojo y dormilón.
          </p>
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Debido a su adaptabilidad, tranquilidad y a que es poco ladrador, es una raza ideal para la vida en un
            apartamento o piso. Es aconsejable evitar exponerlo al calor intenso y tener siempre agua disponible para
            hidratarlos pues pueden sufrir de golpes de calor, algunos tienen alergias alimentarias y necesitan piensos
            especiales adaptados para ellos. 

            Deseas saber más?
          </p>
          <a href="#" class="btn-learn-more" style="float: right;">Aprender más...</a>
        </div>
      </div>

    </div>
  </section>
  <!-- ======= ABOUT FRENCHIES SECTION END ======= -->

  <!-- ======= CARDS SECTION ======= -->
  <section id="cards" class="cards">
    <div class="container" data-aos="fade-up">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-emoji-smile pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Super alegres !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-controller pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Super juguetón !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-emoji-angry-fill pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Con mucho carácter !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-heart-fill pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Siempre confiables !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ======= CARDS SECTION END ======= -->

  <!-- ======= HELP SECTION ======= -->
  <section id="help-frenchies" class="help-frenchies">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3 class="pulse_efect">Necesitas ayuda? <i class="bi bi-telephone"></i></i></h3>
        <p> Ante cualquier emergencia o duda que se te presente, no dudes en contactarnos por teléfono. Has click en el siguiente botón para más información. Esto no es más que texto agregado por una cuestión de formato.
        </p>
        <a class="help-frenchies-btn about-us-img" href="#">Llámanos !</a>
      </div>
    </div>
  </section>
  <!-- ======= HELP SECTION END ======= -->

  <!-- ======= SONS SECTION ======= -->
  <section id="sons" class="sons section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 class="mouseover">Mirá a nuestros hijos !</h2>
        <p>Aunque los extrañamos mucho, estamos muy felices de que ellos sean tan felices !</p>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="../media/Sons/1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Marcus</h4>
                <span>Nacimiento: 10 de Mayo de 2015</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="../media/Sons/2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Simba</h4>
                <span>Nacimiento: 30 de Octubre de 2013</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="../media/Sons/3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Ellie</h4>
                <span>Nacimiento: 2 de Junio de 2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="../media/Sons/4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Rymm</h4>
                <span>Nacimiento: 24 de Agosto de 2017</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= SONS SECTION END ======= -->

  <!-- ======= FOOTER ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Síguenos en nuestras redes sociales!</h3>
      <p>Esperamos que hayas disfrutado de tu paseo, por eso te invitamos a seguirnos en nuestras redes sociales !</p>
      <div class="social-links">
        <a href="#" class="twitter mouseover"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook mouseover"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram mouseover"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google mouseover"><i class="bx bxl-google"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>I ♥ Bulldogs</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- ======= FOOTER ======= -->

  <script src="../js/bootstrap.min.js"></script>
</body>
</html>