<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Página web orientada a perros de raza Bulldogs, Bulls o Spikes donde se podra consultar dudas y ponerse en contacto con veterinarios y especialistas caninos de todo el mundo" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/stylescss.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/remixicon/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/icons-custom/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <link rel="icon" type="image/x-icon" href="../media/logo.png">
  <title>♥ Pugs</title>
</head>
<body>
  <!-- ====== TOP NAV BAR ====== -->
  <div class="grid-container">
    <nav id="image" class="grid-nav image-pugs">
      <div class="main_list">
        <ul class="grid-nav-main navlinks quick-sand-family">
          <li><a class="li-excluded-logo pulse_efect" href="#"><img class="nav-img" src="../media/logo.png"
                onmouseout="volverNormalidad()" /></a></li>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/bulldogs.html">Bulls</a></li>
          <li><a href="../views/frencies.html">Frenchies</a></li>
          <li><a href="../views/pugs.html">Pugs</a></li>
          <li><a href="../views/contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="centrado">
        <div dir="texto-bienvenida" class="texto-centrado quick-sand-family">
          <b>
            < Welcome to I ♥ Bulldogs /></b>
        </div>
      </div>
    </nav>
  </div> 
  <!-- ====== TOP NAV BAR END ====== -->

  <!-- ====== PUG SONS ====== -->
  <section id="sons" class="sons section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Mirá a nuestros alumnos distinguidos <i class="bi bi-emoji-smile-upside-down"></i></h2>
        <p>Acaso no son re tiernos?</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="../media/Pugs/1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Atreus</h4>
                <span>Son of a God</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="../media/Pugs/2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Tess</h4>
                <span>No hay nadie más valiente !</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="../media/Pugs/3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sinri</h4>
                <span>Un compañero ejemplar, aunque un poco miedoso</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- ====== PUG SONS END ====== -->

  <!-- ======= ABOUT US ======= -->
  <section id="about" class="about-us">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Sobre ellos....</h2>
        <p>Mirá que interesantes pueden ser estos cachorros !</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-left">
          <div class="about-us-title pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <h3>Un perro que de chiquito, no tiene nada !</h3>
            <p class="fst-italic">
              El pug (también conocido como carlino o doguillo) es una raza de perro con origen histórico en China, pero con el patrocinio del Reino Unido. Se trata de un perro pequeño de tipo molosoide. En una encuesta realizada en 2012-2013 por la Federación Cinológica Internacional (FCI), el pug resultó ser una de las treinta razas más populares del mundo
            </p>
            <ul>
              <li><i class='bx bx-bone mouseover '></i> Los pugs, si son bien entrenados y adecuadamente socializados, no son animales agresivos. Al igual que cualquier perro, pueden morder, pero es raro que esto ocurra sin que nadie le haga maltrato hacia el animal.
              </li>
              <li><i class='bx bx-bone mouseover'></i> Dada la particular forma de su cráneo, sus ojos tienen un aspecto saltón y alegre. Al encontrarse los ojos localizados anteriormente, están más expuestos al roce con plantas y objetos que los ojos de otros perros y es recomendable llevarlos al veterinario cuanto antes si presentan una lesión.</li>
              <li><i class='bx bx-bone mouseover'></i> Por su llamativo aspecto se tiende a pensar que las características del pug son el resultado de la manipulación genética o la cruza endogámica.</li>
              <li><i class='bx bx-bone mouseover'></i> Es uno de los problemas de salud que presenta esta raza,12​ que es propensa a él por sus problemas respiratorios y de movimiento, con lo que no depende exclusivamente del dueño, pero sí será su responsabilidad esforzarse más en prevenirlo.</li>
            </ul>
            <p>
              Un pug saludable puede correr tan rápido como cualquier otro perro y puede saltar dos o tres veces su propia altura
            </p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image about-us-img">
            <img src="../media/Pugs/4.jpeg" class="img-fluid" alt="">
          </div>
        </div>
        
      </div>

    </div>
  </section>
  <!-- ======= ABOUT US END ======= -->

  <!-- ======= CARDS SECTION ======= -->
  <section id="cards" class="cards">
    <div class="container" data-aos="fade-up">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-emoji-smile pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Super alegres !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-controller pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Super juguetón !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-emoji-angry-fill pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Con mucho carácter !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch center-icons">
          <div class="card-box mouseover">
            <h3 class="center-icons"><i class="bi bi-heart-fill pulse_efect"></i></h3>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Siempre confiables !</strong> Un perro super feliz todo el tiempo!</p>
            <a href="#">Saber más...</a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ======= CARDS SECTION END ======= -->

  <!-- ======= EMERGENCY SECTION ======= -->
  <div class="grid-box photos">
    <section id="sucursales" style="width: 100%;">
      <div class="container" data-aos="fade-up">

        <div class="section-title h2_main" style="text-align: center;">
          <div class="urgencia-veterinaria">Alguna urgencia veterinaria?   <span class="iconify" data-icon="bx:location-plus"></span></div> 
            <div class="urgencia-veterinaria"> 
              <span>Visítanos aquí</span>
            </div>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
  </div>
  <!-- ======= EMERGENCY SECTION ======= -->

  <!-- ======= FOOTER ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Síguenos en nuestras redes sociales!</h3>
      <p>Esperamos que hayas disfrutado de tu paseo, por eso te invitamos a seguirnos en nuestras redes sociales !</p>
      <div class="social-links">
        <a href="#" class="twitter mouseover"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook mouseover"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram mouseover"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google mouseover"><i class="bx bxl-google"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>I ♥ Bulldogs</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- ======= FOOTER ======= -->

  <script src="../js/bootstrap.min.js"></script>
</body>

</html>